@import "tailwindcss";

@font-face {
  font-family: lato;
  src: url(./assets/fonts/lato/Lato-Bold.ttf);
}

@font-face {
  font-family: main;
  src: url(./assets/fonts/Urbanist-VariableFont_wght.ttf);
}

@font-face {
  font-family: halo;
  src: url(./assets/fonts/halogen/Halogen-Medium.otf);
}

@font-face {
  font-family: sfpro;
  src: url(./assets/fonts/sanfrancisco/SF-Pro-Rounded-Medium.otf);
}

@font-face {
  font-family: gotham;
  src: url(./assets/fonts/gotham/Gotham-Medium.otf);
}

@font-face {
  font-family: jet;
  src: url(./assets/fonts/space/SpaceGrotesk-Regular.ttf);
}

@font-face {
  font-family: sfreg;
  src: url(./assets/fonts/sanfrancisco/SF-Pro-Display-Regular.otf);
}

@theme {
  --font-lato: "lato", "sans-serif";
  --font-main: "main", "sans-serif";
  --font-halo: "halo", "sans-serif";
  --font-sfpro: "sfpro", "sans-serif";
  --font-sfreg: "sfreg", "sans-serif";
  --font-gotham: "gotham", "sans-serif";
  --font-jet: "jet", "sans-serif";
}

@theme {
  --color-dark: #171717;
  --color-black: #080808;
  --color-green: #b8f011;
  --color-light: #858585;
}

body {
  overflow-x: hidden;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* caret-color: var(--color-dark); */
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* 
button{
    cursor: pointer;
} */

.cursor-not-allowed {
  cursor: not-allowed;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(42px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(42px) rotate(-360deg);
  }
}

.animate-orbit {
  animation: orbit 1s infinite;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-text-fill-color: white !important; /* Force text color */
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  background-color: transparent !important;
  -webkit-text-fill-color: white !important; /* Apply text color */
}

#inputline:-webkit-autofill {
  background-color: transparent !important;
  -webkit-text-fill-color: white !important; /* Force text color */
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

#inputline:-webkit-autofill:hover, 
#inputline:-webkit-autofill:focus, 
#inputline:-webkit-autofill:active {
  background-color: transparent !important;
  -webkit-text-fill-color: white !important; /* Apply text color */
}
